body {
    margin: 50px auto;
    width: 800px;
}

.card-upload-area {
    border: 1px dotted rgba(0, 0, 0, 0.4);
    padding: 20px;
    margin-top: 20px; 
}

.card-upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    border: 1px dashed rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.card-upload-container i {
    font-size: 70px;
    opacity: 0.5;
}

.card-upload-container p {
    margin-top: 10px;
    font-size: 16px;
    opacity: 0.8;
}


  
.uploaded-card {
    max-width: 200px;
    max-height: 200px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.uploaded-cards {
    flex-wrap: wrap;
}

.card-info-area {
    flex: 1; /* ここを変更 */
    position: absolute;
    margin-top: 25px;
    margin-left: 250px;
    display: none; /* 余白調整 */
}
.uploaded-card-wrapper{
    display: flex;
}
.card-info-area.visible {
    display: block;
  }